* {
    margin: 0;
}
body{
    background-color: black;
}
.nav-bar {
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    align-items: center;
}

.nav-bar i {
    color: white;
    font-size: 25px;
    transition-delay: 0.5s ;
    margin-left: 20px;
}

/* Home button */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.home i {
    margin: 0;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    width: 500px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin: 2px 10px;
    border: 2px solid black;
}
.search i {
    color: white;
    max-width: 15px;
    font-size: 18px;
}

.search-bar{
   background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}
.search-bar::placeholder {
    color: #b3b3b3;
}
.text-1{
    display: flex;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 200px;
    
}
.text-1 a{
    text-decoration: none;
    padding-right: 8px;
    font-size: 18px;
}
.install{
    margin-left: 100px;
}
.install i{
     color: rgba(255, 255, 255, 0.3);
     font-size: 18px;
}
.install a{
    color: rgba(255, 255, 255, 0.3);
     font-size: 18px;
     padding-left: 10px;
}
.login-btn{
    /* position: absolute;
    right: 
    20px; */
    margin-left: 100px;
    cursor: pointer;
  
}
.login-btn button{
      border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
}
.nav-bar a:hover{
    color:rgba(255, 255, 255, 1);
    font-size: 19px;
    cursor: pointer;
}
.nav-bar i:hover{
    color:rgba(255, 255, 255, 1);
    font-size: 19px;
    cursor: pointer;
}
.search:hover{
    border: 2px solid white;
    background-color: rgba(255,255,255,0.2);
}

.side-bar{
    /* background-color:rgba(); */
    background-color:rgba(255,255,255,0.09);
    position: relative;
    top: 50px;
    height:670px;
    width: 27%;
    border:2px solid black;
    margin: 0px 5px;
    border-radius:15px;
}
.top-side{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
}
.top-side button{
    border: 2px solid rgba(255, 255, 255, 0.09);
    background-color: rgba(255, 255, 255, 0.09);
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 90px;
    text-align: center;
}
.top-side button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.top-side i {
    padding-right: 10px;
}
.second{
    background-color: rgba(255, 255, 255, 0.1);
    height: 8rem;
    margin: 28px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
}
.content-side1{
    margin-left:30px ;
    margin-top: 20px;
    line-height: 30px;
}
.content-side1 button{
     border: 2px solid rgba(255, 255, 255, 0.09);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-weight: 500;
    border-radius: 15px;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    text-align: center;
}
.content-side1 button:hover{
       transform: scale(1.1);
           cursor: pointer;

}

.side-footer{
    margin: 100px 10px 0px 20px;
    /* id; */
    /* grid-template-columns: repeat(4,1fr); */
    display: flex;
    flex-wrap: wrap;
}
.side-footer a {
    padding-right: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
}
.side-footer a:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.side-but{
    margin: 70px 0px 0px 20px;
}
.side-but button {
    background-color:rgba(255, 255, 255, 0.09);
    color: white;
    border: 1px solid white;
    font-weight: 500;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
}
.side-but button i{
    padding-right: 10px;
}
.side-but button:hover{
    transform: scale(1.1);
        cursor: pointer;

}
.mid{
    display: flex;
}
.main {
    background-color:rgba(255,255,255,0.09);
    position: relative; 
     top: 50px;
    height:670px;
    padding-left: 20px;
    width: 100%;
    border:2px solid black;
    margin: 0px 5px;
    border-radius:15px;
}
.tranding{
    margin-top: 20px;
    height: 270px;
    background-color: aqua;
}
.tranding h4{
    color: white;
    font-weight: 500;
}
.card {
    display: flex;
    height: 16rem;
    background-color: red;
}
.container{
    height: 13rem;
    display: flex;
    margin-right: 20px;
    /* background-color: black; */
    ;
}

